<section class="banner">
  <div class="learning__banner">
    <h1>Go Beyond Your Imagination</h1>
    <a href="lessons.html"
      ><button class="btn btn--primary">Learn More</button></a
    >
  </div>
  <div class="block block--dark block--skewed-left meaning__banner">
    <div class="container meaning__text">
      <span class="headings--popular">Our Mission</span>
      <p>
        Using the power of knowledge and education. You can bring up a good
        future to light up the world.
      </p>
    </div>
  </div>
</section>
