<section class="grid grid--1x4 block container features">
  <article class="block__features">
    <div class="features__image-container">
      <img class="features__image" src="icons/exploration-icon.png" alt="" />
    </div>
    <div class="features__content">
      <h3>What earthquake & How earthquake</h3>
      <p class="features__text">
        A study that talks about what happens when an earthquake occurs, how an
        earthquake is formed, built, and how it happens. This text also talks
        about measurements of earthquakes and metaphorically explains what
        happens when hazards like this occur.
      </p>
    </div>
  </article>
  <article class="block__features">
    <div class="features__image-container">
      <img class="features__image" src="icons/impactful-icon.png" alt="" />
    </div>
    <div class="features__content">
      <h3>What to do and not to do</h3>
      <p class="features__text">
        This composition talks about the safety procedures when an earthquake
        occurs, how to handle earthquake situations when it's happening, how to
        take aftercare of the hazard, and the calamity, and disaster it has
        caused.
      </p>
    </div>
  </article>
  <article class="block__features">
    <div class="features__image-container">
      <img class="features__image" src="icons/education-icon.png" alt="" />
    </div>
    <div class="features__content">
      <h3>What is Continental Drift?</h3>
      <p class="features__text">
        A write-up that talks more about the once was a hypothesis, but now a
        theory made by Alfred Wegener. This text also shows the evidence found
        by the geologists that contributed to this study.
      </p>
    </div>
  </article>
  <article class="block__features">
    <div class="features__image-container">
      <img class="features__image" src="icons/stewardship-icon.png" alt="" />
    </div>
    <div class="features__content">
      <h3>A Theory Supporting Another</h3>
      <p class="features__text">
        This text tells the relevance of the continental drift theory to
        earthquakes. And this text also talks about another theory; the tectonic
        plate theory, and how both theories are connected.
      </p>
    </div>
  </article>
</section>
