<section class="block container features-2">
  <header class="features__heading">
    <h2>What you should expect.</h2>
  </header>
  <article class="grid grid--1x2 block__features-2">
    <div class="features__image-container">
      <img class="features__image-2" src="images/rocket-2.png" alt="" />
    </div>
    <div class="features__content">
      <h3>
        An informative and interesting topic that shall pique your interest.
      </h3>
      <p class="features__text">
        While reading and learning more about earthquakes and what our earth was
        before, we assure everyone to have a fun and extensive learning
        experience as you read through our well-written article.
      </p>
    </div>
  </article>
  <article class="grid grid--1x2 block__features-2">
    <div class="features__image-container">
      <img class="features__image-2" src="images/rocket-1.png" alt="" />
    </div>
    <div class="features__content">
      <h3>A website worth sharing to others.</h3>
      <p class="features__text">
        We proudly ask of you to share our website, alongside the topics we’ve
        discussed in order to help your fellow students, friends, and even
        family to learn more about our precious planet! Not only will it help
        them, but also us students who showed our best efforts in delivering a
        fun and educational website.
      </p>
    </div>
  </article>
  <article class="grid grid--1x2 block__features-2">
    <div class="features__image-container">
      <img class="features__image-2" src="images/rocket-3.png" alt="" />
    </div>
    <div class="features__content">
      <h3>Step by step learning.</h3>
      <p class="features__text">
        In order for you, and for everyone else to fully understand the topics
        to be discussed, we will explain everything in a precise and easy way,
        easy enough for everyone to understand.
      </p>
    </div>
  </article>
  <article class="grid grid--1x2 block__features-2">
    <h3>Order of Topics</h3>
    <p class="features__text">
      What are the lessons to expect before reading our article? First, we will
      learn more about earthquakes and how they occur, followed by the safety
      procedures when an earthquake occurs; then the explanation and origin of
      the continental drift theory, and finally, the connection between
      earthquakes and the said theory!
    </p>
  </article>
</section>
