<section class="block container contact">
  <h2 class="contact__heading">Let's Chat.</h2>
  <p>Have any questions?</p>
  <p>We're ready to help.</p>
  <div class="contact__form">
    <span class="contact--text email__text">Email*</span>
    <input
      type="text"
      class="input__box email"
      placeholder="yourname@gmail.com"
    />
    <span class="contact--text hear__text">How'd you hear about us?</span>
    <input
      type="text"
      class="input__box hear"
      placeholder="Google Search, Google Ads, LinkedIn, Clutch.co, etc"
    />
  </div>
  <div class="contact__submit">
    <input type="submit" class="submit__btn" />
  </div>
</section>
