<section class="grid grid--1x2 block container media">
  <div class="media__content">
    <h2>About Us.</h1>
    <p>Our website is a fast-growing software company that allows your imagination and creativity at the heart of everything we do.  Our mission is to help you learn more and unlock your imagination to build exceptional content using our uniquely powerful design platform and our tirelessly helpful support and education resources.</p>
  </div>
  <div class="media__image">
    <img src="images/people.jpg" alt="A group of happy and educated people">
  </div>
</section>